<% if @people.count > 0 %>
  <div class="span8">
  <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date Added</th>
        <th>Added By</th>
        <th>Cleared?</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
    <% @people.each do |person| %>
      <tr>
        <td><%= person.first_name %></td>
        <td><%= person.last_name %></td>
        <td><%= person.created_at.to_date %></td>
        <td><%= person.user.name ? person.user.name : person.user.email %></td>
        <td style="text-align: center"><% if person.scans.count > 0 %><i class="icon-ok"></i><% end %></td>
        <td>
          <%= link_to person, 
                      title: "View info and live scan forms",
                      class: "btn" do %>
            <i class="icon-list"></i>
          <% end %>
          <% if can? :destroy, person %>
            <%= link_to person,
                        confirm: 'Are you sure you want to delete this person?', 
                        method: :delete,
                        title: "Delete this person",
                        class: "btn" do %>
              <i class="icon-remove"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>
<% end %>