<h3>Person Lookup</h3>
<% person = Person.new %>

<p>
  Download all:
  <%= link_to "CSV", people_path(format: "csv") %>
</p>

<%= form_tag(people_search_path, method: :get, id: "person-search-form", class: "form-inline" ) do %>
    <%= text_field_tag :first_name, nil, autocomplete: "off", class: "input-medium", placeholder: "First Name" %>
    <%= text_field_tag :last_name, nil, autocomplete: "off", class: "input-medium", placeholder: "Last Name" %>
    <%= link_to '#', class: "btn btn-primary",
                     id: "add_new_person_button",
                     base_path: new_person_path do %>
      Add new
    <% end %>
<% end %>
<div id="person_spinner" class="hidden">
  <%= image_tag('spinner.gif') %>
</div>
<div id="person-search-results"></div>
