<h3>Coach Lookup</h3>
<% person = Person.new %> 

<%= form_tag(people_search_path, method: :get, id: "person-search-form" ) do %>
  <%= label_tag(:first_name, "First name:") %>
  <%= text_field_tag(:first_name, nil, autocomplete: "off") %>
  <%= label_tag(:last_name, "Last name:") %>
  <%= text_field_tag(:last_name, nil, autocomplete: "off") %><br>
  Fuzzy search: <%= check_box_tag(:fuzzy) %><br>
  Search for nicknames: <%= check_box_tag(:nicknames) %><br>
<% end %>
<div id="person-search-results"></div>
