<h3><%= "#{@person.first_name} #{@person.last_name}" %></h3>
<h4><%= "Added on #{@person.created_at.to_date} by #{@person.user.name.nil? ? @person.user.email : @person.user.name}" %></h4>
  <legend>Scans
    <% if can? :create, Scan %>
      <button type="button" class="btn" data-toggle="collapse" data-target="#add_scan_collapsible">
        <i class="icon-plus"></i> add
      </button>
    <% end %>
  </legend>
  <% if can? :create, Scan %>
    <%= @scan.errors.count > 0 ? 
            '<div id="add_scan_collapsible" class="collapse in">'.html_safe: 
            '<div id="add_scan_collapsible" class="collapse">'.html_safe %>
      <%= simple_form_for @scan,
          url: person_scans_path(@person),
          method: 'post',
          multipart: true,
          html: {class: 'form-inline'} do |f| %>
        <%= f.input :scan_date, as: :string, label: "Date of scan" %>
        <%= f.input :image, as: :file %>
        <%= f.button :submit, class: 'btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
  <% if !@person.scans.nil? && @person.scans.count > 0 %>
  <table class="table table-condensed table-hover">
    <thead>
      <th>Date Scanned</th>
      <th>Date Scan Submitted</th>
      <th>Added By</th>
      <th></th>
    </thead>
    <tbody>
      <% @person.scans.each do |scan| %>
          <tr>
            <td><%= scan.scan_date %></td>
            <td><%= scan.created_at.to_date %></td>
            <td><%= scan.user.name.nil? ? scan.user.email : scan.user.name %></td>
            <td><%= link_to download_scan_path(scan), 
                            title: "Download scan PDF",
                            class: "btn" do %>
                  <i class="icon-download-alt"></i> pdf
                <% end %>
                <% if can? :destroy, Scan %>
                  <%= link_to destroy_scan_path(scan),
                              confirm: 'Are you sure you want to delete this scan?', 
                              method: :delete,
                              title: "Delete this scan",
                              class: "btn" do %>
                    <i class="icon-remove"></i>
                  <% end %>
                <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
