<h3><%= "#{@person.first_name} #{@person.last_name}" %></h3>
<h4><%= "Added on #{@person.created_at.to_date} by #{@person.user.name.nil? ? @person.user.email : @person.user.name}" %></h4>
<% if not @person.scans.nil? and @person.scans.count > 0 %>
  <legend>Scans</legend>
  <table class="table table-condensed table-hover">
    <thead>
      <th>Date Scanned</th>
      <th>Date Scan Submitted</th>
      <th>Added By</th>
      <th></th>
    </thead>
    <tbody>
      <% @person.scans.each do |scan| %>
          <tr>
            <td><%= scan.scan_date %></td>
            <td><%= scan.created_at.to_date %></td>
            <td><%= scan.user.name.nil? ? scan.user.email : scan.user.name %></td>
            <td><%= link_to image_tag("download.png", border: 0), download_scan_path(scan), title: "Download scan PDF" %>
                <% if can? :destroy, Scan %>
                  <%= link_to image_tag("file_delete.png", border: 0),
                              destroy_scan_path(scan), 
                              confirm: 'Are you sure you want to delete this scan?', 
                              method: :delete,
                              title: "Delete scan" %>
                <% end %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h5>No Scans</h5>
<% end %>
<% if can? :create, Scan %>
  <legend>Add Scan</legend>
  <%= simple_form_for @scan,
      url: person_scans_path(@person),
      method: 'post',
      multipart: true,
      class: "form-inline" do |f| %>
  <%= f.input :image, as: :file, label: "Scan image file (PDF, jpg, png, or tiff)" %>
  <%= f.input :scan_date, as: :hidden %>
  Date of scan: <div id="scan_datepicker"></div>
  <%= f.button :submit %>
  <% end %>
<% end %>
