<h2><%= t "devise.invitations.new.header" %></h2>

<%= simple_form_for resource, as: resource_name, url: invitation_path(resource_name), html: {method: :post, class: "form-horizontal"} do |f| %>
  <%= devise_error_messages! %>

    <%= f.input :role_id, :collection => Role.all, :as => :radio_buttons, :label_method => lambda {|t| "#{t.name.titleize}".html_safe}, :label => "Role", checked: Role.find_by_name('viewer').id %>
    <%= f.input :email %>

    <div class="control-group">
      <div class="controls">
        <%= f.submit t("devise.invitations.new.submit_button"), class: "btn btn-primary" %>
      </div>
    </div>
<% end %>
